@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

:root {
  --DarkGray: hsl(0, 0%, 55%);
  --VeryDarkGray: hsl(0, 0%, 41%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.padding-container {
  padding-left: 90px;
  padding-right: 90px;
}

/* header */

a,
li {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style-type: none;
}

header {
  background-image: url("./images/desktop/image-hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  font-family: "Josefin Sans", sans-serif;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right-side ul li a {
  color: white;
  text-decoration: none;
  padding-left: 10px;
}
.links {
  list-style-type: none;
}
.icon {
  display: flex;
  align-items: center;
  color: white;
  font-size: 2em;
}
.graphic {
  animation: 1s ease-out 0s 1 slideInFromLeft;
}
.banner {
  color: white;
  text-transform: uppercase;
  max-width: 550px;
  padding: 10px;
  border: 1px white solid;
  font-size: 4em;
  margin: 0 auto 0 0;
}

/* section-1 */
.section-1 {
  display: flex;
  flex-direction: column;
  position: relative;
}
.image img {
  width: 80%;
}
.description {
  padding-top: 50px;
  margin-right: 5em;
  text-align: center;
  padding-left: 3em;
  padding-right: 3em;
  text-align: left;
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 400px;
  background-color: white;
  font-family: "Josefin Sans", sans-serif;
}

.description h1 {
  text-transform: uppercase;
}

.description p {
  line-height: 1.5;
}
