@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

:root {
  --DarkGray: hsl(0, 0%, 55%);
  --VeryDarkGray: hsl(0, 0%, 41%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* header */
/* header {
  background-image: url("./images/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  padding-top: 20px;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
} */

a,
li {
  text-decoration: none;
  display: inline-block;
  padding-left: 10px;
  color: white;
}

ul {
  list-style-type: none;
}

header {
  background-image: url("./images/desktop/image-hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right-side ul li a {
  color: white;
  text-decoration: none;
}
.links {
  list-style-type: none;
}
.icon {
  display: flex;
  align-items: center;
  color: white;
  font-size: 2em;
}
.graphic {
  animation: 1s ease-out 0s 1 slideInFromLeft;
}
h1 {
  color: white;
  text-transform: uppercase;
  max-width: 550px;
  padding: 10px;
  border: 1px white solid;
  font-size: 2.5em;
  margin: 0 auto 0 0;
}

.padding-container {
  padding-left: 50px;
  padding-right: 50px;
}
